@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,900&display=swap');
    
    .floating-menu-topleft {
      font-family: 'Source Sans Pro', sans-serif;
      background: #e9e9e9;
      padding: 1%;
      margin-top: 2.5em;
      margin-left: 1.3em;
      width: auto;
      opacity: 0.9;
      z-index: 100;
      position: fixed;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
      border-radius: 0.5em;
    }

    .floating-menu-topleft h3 {
      font-family: 'Source Sans Pro', sans serif;
      text-decoration: none;
      text-align: center;
      display: fixed;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      color: black;
      font-weight: 900;
    }

    .floating-menu-topleft a, h5 {
      font-family: 'Source Sans Pro', sans serif;
      text-decoration: none;
      text-align: center;
      display: fixed;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      color: black;
      font-weight: 600;
    }

    .floating-menu-bottomRight {
      font-family: 'Source Sans Pro', sans serif;
      background: #e9e9e9;
      text-align: center;
      padding-top: 0.5%;
      padding-bottom: 0.5em;
      padding-right: 1%;
      padding-left: 1%;
      margin-top: 2.5em;
      right: 1.3em;
      opacity: 0.9;
      width: auto;
      z-index: 100;
      position: fixed;
      bottom: 2.5em;
      right: 1.3em;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
      border-radius: 0.5em;
    }

    .floating-menu-bottomRight a, h3 {
      font-family: 'Source Sans Pro', sans serif;
      display: block;
      margin-top: 0em;
      margin-bottom: 0em;
      color: black;
      font-weight: 900;
    }

    .floating-menu-topRight {
      font-family: 'Source Sans Pro', sans serif;
      background: #e9e9e9;
      opacity: 0.9;
      text-align: center;
      padding: 1%;
      width: auto;
      z-index: 100;
      position: fixed;
      top: 2.5em;
      right: 1.3em;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
      border-radius: 0.5em;
    }

    .floating-menu-topRight h5 {
      font-family: 'Source Sans Pro', sans serif;
      display: block;
      text-align: left;
      margin-top: 0.5em;
      margin-left: 0.5em;
      margin-right: 0.5em;
      margin-bottom: 0.5em;
      color: black;
      font-weight: 600;
    }

    .floating-menu-topRight h3 {
      font-family: 'Source Sans Pro', sans serif;
      display: block;
      margin-top: 0em;
      margin-bottom: 0;
      color: black;
      font-weight: 900;
    }

    .floating-menu-bottomLeft {
      font-family: sans-serif;
      background: #e9e9e9;
      opacity: 0.9;
      text-align: center;
      padding: 1%;
      width: auto;
      z-index: 100;
      position: fixed;
      bottom: 2.5em;
      margin-left: 1.3em;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
      border-radius: 0.5em;
    }

    .floating-menu-bottomLeft a,h3 {
      display: block;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      color: black;
    }

    select{
      text-align-last:right;
      padding-right: 29px;
      direction: rtl;
    }


    .collapsible {
      cursor: pointer;
      width: 100%;
      border: none;
      text-align: center;
      outline: none;
      font-size: 15px;
      background-color: inherit;
    }
    
    .content {
      display: none;
      overflow: hidden;
    }

    input[type=text] {
      background-color: #dfdfdf;
      border: none;
      color: black;
      text-align: center;
      margin-top: 1em;
      margin-bottom: 0.5em;
      margin-left: 0.5em;
      margin-right: 0.5em;
      border-radius: 0.5em;
      text-decoration: none;
    }
    input:focus {
      outline-color: #fff;
      outline-width: 1px;
    }

    th {
      font-weight: 900;
    }

    td {
      font-weight: 600;
    }


